*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    Inter,
    'Segoe UI',
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    sans-serif;
  background: #071522;
}

button {
  font-family: inherit;
}
